{% extends 'base.html' %}


{% block content %}
{% set axes = ['heading','pitch','roll'] %}
{% set fingers = ['wrist','thumb','index','middle','ring','pinky'] %}
{% set colors = {'heading':'green','pitch':'yellow','roll':'red'} %}

{% for finger in fingers %}
	<div class="col-md-2">
		<div class="box box-solid">
			<div class="box-header with-border">
				<h3 class="box-title" style="text-transform: capitalize;">{{finger}}</h3>
			</div>
			<div class="box-body text-center">
				{% for axis in axes %}
				<div class="progress vertical progress-sm" style="height:150px; margin-bottom:5px">
					<div class="progress-bar progress-bar-{{ colors[axis] }}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height: {{ data[finger][axis] }}%" id="{{ finger+'-'+axis }}">
						<span class="sr-only">100%</span>
					</div>
				</div>
				{% end %}
				
			</div>
		</div>
	</div>
{% end %}
<div class="col-xs-12">
	<!-- jQuery Knob -->
	<div class="box box-solid">
		<div class="box-header">
			<i class="fa fa-bar-chart-o"></i>
			<h3 class="box-title">Acceleration</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="row">

				<div class="col-xs-4 text-center">
					<input type="text" class="knob" value="-80" data-min="-150" data-max="150" data-width="150" data-height="150" data-fgColor="#3c8dbc" id="acceleration-x"/>
					<div class="knob-label"> X</div>
				</div><!-- ./col -->

				<div class="col-xs-4 text-center">
					<input type="text" class="knob" value="-80" data-min="-150" data-max="150" data-width="150" data-height="150" data-fgColor="#f56954" id="acceleration-y" />
					<div class="knob-label">Y</div>
				</div><!-- ./col -->

				<div class="col-xs-4 text-center">
					<input type="text" class="knob" value="-80" data-min="-150" data-max="150" data-width="150" data-height="150" data-fgColor="#00a65a" id="acceleration-z" />
					<div class="knob-label">Z</div>
				</div><!-- ./col -->
			</div>
		</div>
	</div>
</div>


{% end %}


{% block script %}
<script src="/static/plugins/knob/jquery.knob.js"></script>
<script type="text/javascript">
      $(function () {
        /* jQueryKnob */

        $(".knob").knob({
          /*change : function (value) {
           //console.log("change : " + value);
           },
           release : function (value) {
           console.log("release : " + value);
           },
           cancel : function () {
           console.log("cancel : " + this.value);
           },*/
          draw: function () {

            // "tron" case
            if (this.$.data('skin') == 'tron') {

              var a = this.angle(this.cv)  // Angle
                      , sa = this.startAngle          // Previous start angle
                      , sat = this.startAngle         // Start angle
                      , ea                            // Previous end angle
                      , eat = sat + a                 // End angle
                      , r = true;

              this.g.lineWidth = this.lineWidth;

              this.o.cursor
                      && (sat = eat - 0.3)
                      && (eat = eat + 0.3);

              if (this.o.displayPrevious) {
                ea = this.startAngle + this.angle(this.value);
                this.o.cursor
                        && (sa = ea - 0.3)
                        && (ea = ea + 0.3);
                this.g.beginPath();
                this.g.strokeStyle = this.previousColor;
                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                this.g.stroke();
              }

              this.g.beginPath();
              this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
              this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
              this.g.stroke();

              this.g.lineWidth = 2;
              this.g.beginPath();
              this.g.strokeStyle = this.o.fgColor;
              this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
              this.g.stroke();

              return false;
            }
          }
        });
})


</script>
<script type="text/javascript">
$(function(){
	var axes = ['heading','pitch','roll'] 
	var fingers = ['wrist','thumb','index','middle','ring','pinky']
	var ws = new WebSocket("ws://localhost:9090/ws")

	ws.onopen = function()
	{
		// ws.send("Hello world")
		console.log("Connection oppened")
	}

	ws.onmessage = function(evt)
	{
		coeff =  15.9154943092 
		// console.log(evt.data)
		data = JSON.parse(evt.data)['data']
		fingers.forEach(function(finger){
			axes.forEach(function(axis){
				val = Number(data[finger][axis]) + Math.PI
				val *= 15.91	

				// console.log(finger,axis,"Initial: ",data[finger][axis],"Scaled: ",val)
				$("#"+finger+"-"+axis).css("height",val+"%")
			})
		})	
		$("#acceleration-x").val(data.wrist["acceleration-x"]).trigger("change")
		$("#acceleration-y").attr("value",data.wrist["acceleration-y"])
		$("#acceleration-z").attr("value",data.wrist["acceleration-z"])

		$("#acceleration-z").attr("value","20")
		
	}

	ws.onclose = function()
	{
		console.log("Connection closed")
	}
})	

</script>
{% end %}